@media (min-width:320px) and (max-width:359px){
    .heading{
        width: 100%;
        height: 65px;
        background-color: lightgray;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        
        
    }
    .heading img{
        margin-top: 6px;
       margin-left: 30px;
       width: 50px;
       height: 50px;
    }
    .heading .box{
        transform: translate(20%, -257%); 
        position: relative;     
    }
    .box button{
        position: absolute;
        top: 0;
        left: 100%;
        border: 1px solid gray;
        background:#000;
        color: #fff;
        border-left: none;
        border-radius: none;
    }
    .box input{
        transform: translateX(30px);
        border-top-right-radius: none;
        border-bottom-right-radius: none;
        margin-left: -23px;
    }
    .heading .list{
        flex: none;
        background-color: #eee;
        width: 100%;
        
    }
    .list ul{
        transform: translateX(-40px);
    }
    .list ul li{
        padding: 10px 0px;
        padding-left: 0px;
        margin: 0;
        transform: translateX(-105px);
    }

    .articles{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px auto;
        color: #fff;
    }
    .articles div{
        margin-top: 30px;
    }    
    .articles div h1{
        font-size: 15px;
    }
}

@media (min-width:360px) and (max-width:479px){
    .heading{
        width: 100%;
        height: 65px;
        background-color: lightgray;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        
        
    }
    .heading img{
        margin-top: 6px;
       margin-left: 30px;
       width: 50px;
       height: 50px;
    }
    .heading .box{
        transform: translate(25%, -257%); 
        position: relative;  
    }
    .box button{
        position: absolute;
        top: 0;
        left: 100%;
        border: 1px solid gray;
        background:#000;
        color: #fff;
        border-left: none;
        border-radius: none;
    }
    .box input{
        transform: translateX(70px);
        border-top-right-radius: none;
        border-bottom-right-radius: none;
    }
    .heading .list{
        flex: none;
        background-color: #eee;
        width: 100%;
    }
    .list ul li{
        padding-left: 0px;
        padding: 10px 10px;
        margin: 0;
        transform: translateX(-105px);
    }

    .articles{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px auto;
        color: #fff;
    }
    .articles div{
        margin-top: 30px;
    }    
    .articles div h1{
        font-size: 15px;
    }
}






@media  (min-width:480px) and (max-width:700px){
    .heading{
        width: 100%;
        height: 65px;
        background-color: lightgray;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        
        
    }
    .heading img{
        margin-top: 6px;
       margin-left: 30px;
       width: 50px;
       height: 50px;
    }
    .heading .box{
        position: relative;
        left:60%;
        top: -125%;
        margin-left: -20%;
        
    }
    .heading .list{
        flex: none;
        background-color: #eee;
        width: 100%;
    }
    .list ul li{
        padding-left: 0px;
        padding: 10px 10px;
        margin: 0;
        transform: translateX(-99px);
    }

    .articles{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px auto;
        color: #fff;
    }
    .articles div{
        margin-top: 30px;
    }    
}
